<mat-card class="shadow-lg" style="width: 450px; border: 1px solid #dadce0">
	<form [formGroup]="form" (ngSubmit)="handleSubmit()">
		<mat-card-header>
			<mat-card-title class="mb-3">Forget Password</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>Don't worry! just provide your email and we can do the rest.</p>
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Email</mat-label>
				<input type="text" matInput formControlName="email" />
				<mat-error *ngIf="email.errors?.['required']"> Email is <strong>required</strong> </mat-error>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions align="end" class="justify-content-between">
			<button type="button" mat-stroked-button color="primary" class="mx-2" (click)="handleLogin()">back to login</button>
			<button mat-raised-button color="primary" [disabled]="!form.valid || logging">{{ logging ? 'wait' : 'Send Email' }}</button>
		</mat-card-actions>
	</form>
</mat-card>
