<div class="container">
	<h2 mat-dialog-title *ngIf="id.value; else update">Edit Category</h2>
	<ng-template #update>
		<h2 mat-dialog-title>New Category</h2>
	</ng-template>
	<mat-dialog-content>
		<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="d-flex flex-column mat-dialog-content">
			<div class="row">
				<div class="col-10">
					<mat-form-field class="w-100">
						<mat-label>Name</mat-label>
						<input matInput formControlName="name" />
						<mat-error *ngIf="name.hasError('required') && (name.touched || name.dirty)"> Name is <strong>required</strong> </mat-error>
						<mat-error *ngIf="name.hasError('maxlength') && !name.hasError('required') && (name.touched || name.dirty)"> Name is <strong>100</strong> character</mat-error>
					</mat-form-field>
				</div>
				<div class="col-2">
					<button type="button" mat-icon-button matTooltip="add" color="basic" aria-label="add new item row" (click)="handleNewItem()">
						<mat-icon>add</mat-icon>
					</button>
				</div>
			</div>
			<!-- items -->
			<div formArrayName="items" *ngIf="items.controls.length">
				<div class="row" *ngFor="let item of items.controls; let i = index">
					<ng-container [formGroupName]="i">
						<div class="row">
							<div class="col-10">
								<mat-form-field class="w-100">
									<mat-label>Item Name</mat-label>
									<input matInput formControlName="name" />
									<mat-error *ngIf="getName(i).hasError('required') && (getName(i).touched || getName(i).dirty)">Name is <strong>required</strong> </mat-error>
									<mat-error *ngIf="getName(i).hasError('maxlength') && !getName(i).hasError('required') && (getName(i).touched || getName(i).dirty)">
										Item Name is <strong>100</strong> character
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-2">
								<button type="button" mat-icon-button matTooltip="delete" color="warn" aria-label="delete selected row" (click)="handleDeleteItem(i)">
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-5">
								<mat-form-field appearance="fill" class="w-100">
									<mat-label>quantity</mat-label>
									<input type="number" min="0" matInput formControlName="quantity" />
									<mat-error *ngIf="getQuantity(i).hasError('required') && (getQuantity(i).touched || getQuantity(i).dirty)">Quantity is <strong>required</strong> </mat-error>
								</mat-form-field>
							</div>
							<div class="col-5">
								<mat-form-field appearance="fill" class="w-100">
									<mat-label>price</mat-label>
									<input type="number" min="0" matInput formControlName="price" />
									<mat-error *ngIf="getPrice(i).hasError('required') && (getPrice(i).touched || getPrice(i).dirty)">Price is <strong>required</strong> </mat-error>
								</mat-form-field>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
			<!-- end items -->
			<div mat-dialog-actions>
				<button mat-raised-button type="submit" color="primary" [disabled]="!form.valid||isSubmitting" class="mx-2 px-4">{{isSubmitting?'wait':'save'}}</button>
				<button type="button" mat-stroked-button color="warn" (click)="onCancel()" tabindex="-1">cancel</button>
			</div>
		</form>
	</mat-dialog-content>
</div>
